@using LiBooker.Shared.Roles;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">LiBooker</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Publications
            </NavLink>
        </div>
        <AuthorizeView Roles="@(UserRolesExtensions.GetRoleName(UserRoles.Admin))">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="people">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> People
            </NavLink>
        </div>
        </AuthorizeView>
        <AuthorizeView Roles="@(UserRolesExtensions.GetRoleName(UserRoles.Admin))">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin/roles">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Roles
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="person/details">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> My profile
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => this.collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        this.collapseNavMenu = !this.collapseNavMenu;
    }
}
